{% extends "public.html" %}
{% block content %}
<section class="section team-2">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center mb-5">
                <h3 class="display-3">TRs activity predict<b id="title"></b></h3>
                <h4 class="lead">The user enters a set of genes and the site will return a ranking of predicted
                    transcription regulator activity.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group" id="gene_set-label">
                                    <label class="bmd-label-floating"> Please enters a set of
                                        genes.</label>
                                    <textarea class="form-control" id="gene_set" rows="10"></textarea>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group bmd-form-group" id="range_threshold-label">
                                    <label class="bmd-label-floating">Range threshold (0-0.5):Filter signal interval
                                        topN+tailN</label>
                                    <input class="form-control" value="0.05" id="range_threshold"></input>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group" id="vgae_iterations-label">
                                    <label class="bmd-label-floating">VGAE iterations (1-10): Larger values are more
                                        stable, but take longer.</label>
                                    <input class="form-control" value="1" id="vgae_iterations"></input>
                                </div>
                            </div>
                            <button class="btn btn-success" onclick="run()">Run</button>
                            <button class="btn btn-info" onclick="Example()">Example</button>
                            <button class="btn btn-default" onclick="Reset()">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function run() {
        var gene_set = $('#gene_set').val()
        var vgae_iterations = $('#vgae_iterations').val()
        var range_threshold = $('#range_threshold').val()
        $.ajax({
            url: '/TRAPT/run',
            type: 'POST',
            data: {
                "gene_set": gene_set,
                "vgae_iterations": vgae_iterations,
                "range_threshold": range_threshold,

            },
            success: function (uuid) {
                window.location = '/TRAPT/analysis_trs_activity?uuid=' + uuid
            }
        })
    }
    function Reset() {
        $('#gene_set-label').removeClass('is-filled')
        $('#range_threshold-label').addClass('is-filled')
        $('#vgae_iterations-label').addClass('is-filled')
        $('#vgae_iterations').val(1)
        $('#range_threshold').val(0.05)
        $('#gene_set').val("")
    }
    function Example() {
        Reset()
        $('#gene_set-label').addClass('is-filled')
        $('#range_threshold-label').addClass('is-filled')
        $('#vgae_iterations-label').addClass('is-filled')
        $('#gene_set').val(`KRTAP17-1
FBN2
CBLN2
PAGE5
ODZ3
COX7B2
CCDC85A
NKD2
FSTL5
ATP9A
MS4A6A
OR2V2
SEMA3A
BBOX1
NGB
MT1G
GPR98
IL1RAPL1
JAM2
MT1H
PRL
RAB38
PRRX1
EOMES
CALD1
RGS20
LOC643733
KLRD1
FAM46A
TBX15
MGC87042
ABP1
STEAP1
HIST1H4H
FMO3
HECW2
PLEKHG3
RND3
CACNB3
HIST1H2BD
DHRS9
CD7
ACTA2
AMPD1
HSD17B14
PSORS1C3
HIST2H2AA3
RNF144A
PDE4D
SPRY1
BHLHE22
WWC3
CA9
TNFRSF19
D4S234E
ESAM
LOC154761
PLA1A
EDNRB
DNAH9
TIMD4
LRRTM4
UCA1
VAMP2
RAB33A
ADAM23
HIST2H2AA4
KIAA1324L
HIST2H2AC
SDPR
GIMAP6
FGF11
MRPL53
CYB5D2
CTAG2
FGGY
HMOX1
SIRPA
HIST1H2BJ
TMEM176A
PCGF2
SPAG4
SEL1L3
JAG1
FLJ22536
LMO3
ADCY6
ZMIZ1
MUC1
TDRD5
DPM3
TBC1D8
PAGE2
CPXM1
TSKU
CBR4
ABCB9
UBD
DIP2C
BCHE
SERINC2
MT1F
HNF1B
TMEM140
IL8
PALLD
LRP2
ABLIM1
ANO10
ABCB4
CADPS2
GNG11
RAB11FIP4
GLS
CPXM2
LZTS2
FKBP9L
IL32
ANXA1
CHST4
BAZ2B
MFSD6L
MUC13
OR5H6
SCLY
CLDND2
ZNF629
PIGR
HIST1H2BK
USP36
STYXL1
CCL19
TGFB1I1
HIST1H2AE
NRGN
CLIC6
H2AFJ
GIMAP5
PCDH10
NOL4
TDO2
SUMF1
LIN7A
VGF
TOM1L1
MOSC2
PFKFB3
TP53INP2
HOMER3
ST3GAL6
SEMA6A
CASP12
GAD1
CD52
UGT2B7
PLOD2
SEMA3F
ACOT4
ACTL8
HIC1
LOC284215
ICOS
LYPD6B
S100A8
RCBTB2
SUPT3H
TIPARP
ATP6AP1L
PIK3R6
GTF2IRD2B
ORAI3
PPP1R3F
EPHA3
CAMP
XAGE1B
PIK3IP1
GABRG2
TRO
PDGFRB
SNCAIP
RPRM
XAGE1A
GNG4
PCMTD2
SMAD3
OSBP2
MXD4
PAGE2B
ELAVL1
CCL4L2
CBR3
BEND4
PAK6
FLJ20021
PTPRN2
EGLN1
SCCPDH
SYT11
BNIP3L
UGT2B17
DMRT2
UPK1A
PCDH18
MAP1LC3B
OXCT1
SSH1
DNAL4
MDK
GCHFR
TSC22D3
TTYH3
RALYL
HIST1H1C
CTAG1A
SLC2A5
GGA2
CYTH2
S100A11
SCARB2
SH2B1
CD226
AFAP1L2
SOX4
PAN2
CHD2
YPEL3
TCTA
ING4
TBC1D17
XYLT1
ANGPTL6
INSIG2
ITGB5
GLDC
RIT1
RASSF6
STMN3
SPATA13
LPHN1
LOC100129066
VAMP1
TRAPPC6A
AIFM2
FAM167A
VGLL4
TMEM145
CCL20
KIAA0427
CCPG1
KIAA0195
KIAA0226
SIT1
HBP1
MFN2
KIAA1671
NFIX
DKFZP586I1420
RENBP
HSPC157
HIST1H2AC
CYBASC3
MYO9A
HIST1H3H
ASTN2
CALCOCO1
PLXNB1
TRIM31
FOXO4
PFKFB4
BTBD2
SHANK2
PDGFD
GCNT3
DSCR8
SMG6
PHGDH
MIB2
MGC12982
PPP1R3E
CECR4
ANGPT1
SPR
KIAA0895L
B3GALT4
PPFIA4
YPEL1
AUH
BARX2
ADM
GMPR2
CXCL10
AURKAPS1
HMGCL
SLC16A3
VAMP5
LOC282997
ZNF358
LIN28B
TNIP1
N4BP2L2
CYBRD1
FAM127B
IGJ
ALDH2
ANKZF1
ANKRD28
TBCD
CXADRP2
RBM15B
DUSP22
KAT2B
SLC4A2
NUDCD3
MT1E
RNF24
FUT11
KLHDC9
ELAVL2
CPEB3
NCRNA00219
ABHD14B
ZNF804A
MGST3
FBXL8
KDM6B
RPL28
SPRY2
CSAG3
TNFAIP8L2
NCR3
TMEM119
GPR55
WDR60
SERGEF
OR13A1
KCNK1
MGST2
CYTH3
ARSD
RHBDL1
ZNF609
D2HGDH
PLEKHG6
MLLT11
JUP
ABCA12
HIST1H2BG
AP2A2
KLRC1
IRF6
SASH1
RBM33
PPP2R5B
ZNF385A
SHANK3
TMEM116
BNIP3
NEURL2
PKD1
LOC728855
ZNF768
ST7
ALDH1L1
RSPH3
PLEKHA9
HHAT
LOC147727
SHISA5
TBC1D3G
LTBR
DCUN1D4
NCALD
SAP18
PDE1B
HBD
RAB17
TOLLIP
BFSP2
ZNF76
LOC678655
GALM
SLC12A8
RCSD1
LOC92249
ENO2
LOC338799
SNX33
BAGE5
DLG4
MST1
NAT6
KCNMB2
MERTK
ACSS1
APH1B
RSBN1
NKG7
MPI
FAM18A
BMF
TMEM80
KRT7
SNHG9
NCKIPSD
ELP3
KIAA0182
SYK
HSD3B1
PCDH20
KIAA1737
NQO1
OXR1
FABP6
PPME1
PILRA
NOL3
FAM38B
CCM2
HCST
ANTXR2
NPC2
HSF2
LOC390940
CLCNKA
NUMA1
PIGP
ARL6IP5
MYO1G
MAPK8IP3
FGR
CCDC88B
KLF12
ACCS
POU2AF1
NDNL2
MGAT1
ITPKA
RASSF1
LOC728758
CLDN15
DTX3
CBX7
ST3GAL3
COL7A1
PARP4
FAM127C
CHM
GMFG
DOK3
ZNHIT1
TP63
SLC25A35
TFE3
ZNF775
TMEM136
CREB3L3
CYP1B1
ZNF512
DYNLRB1
SH3TC1
OR5H2
BTLA
ARHGAP23
GAMT
PIK3R5
DRAM1
MSMP
GBP6
CDH18
PAIP2
FRMD4A
TMEM45A
SERPINB10
LOC338758
KIAA0114
CSRNP3
ZCWPW1
TSC22D4
TTC13
TMLHE
STRADB
ITPK1
MOAP1
IL23A
CEND1
SPRYD5
TPM2
HCFC1R1
LOC283663
TYW3
IL18RAP
ITPR2
PHACTR3
C5
GDPD3
CPNE8
YPEL5
CORO1B
APPBP2
KIAA1539
FAM175A
NUP210
TMEM149
IL4I1
CNR1
CXXC4
SCAND1
OR51B4
DLEU1
CAPN12
CCNB1IP1
OXER1
DCP1A
GHR
TM2D1
SDSL
BMS1P5
TMEM132A
DECR1
FCRLB
CD27
GAB2
NPHP4
TMEM86B
UBXN6
BNC2
TRIM52
DCAF6
HK2
BCAS4
RGS1
COBLL1
FAM119B
EVL
REEP5
UBAP2L
EML4
E2F7
STAU2
ZNF362
ZBTB20
FAM53B
DNAJC4
CNTNAP1
KIF16B
PNKD
BCKDHA
LAG3
COL24A1
FMR1NB
DOCK7
ODF3B
EMILIN2
DOK4
HSBP1
HIST4H4
HSF4
THNSL1
SLAMF1
SH3BGRL
SHROOM3
TBC1D22A
PYCARD
ARHGEF5
PREX1
LOC100132774
ARHGEF7
STAT2
PTGIR
P4HA1
INPP4B
ZNF219
MT1X
SBDS
MED15
NUDT13
TNFRSF17
WNT10A
SRPK2
SLCO2B1
NARF
DENND4B
NPHP3
NME7
PCBD1
TNK2
NHLRC4
CCDC25
POLR2E
ERF
GSTZ1
CD69
VPS8
CASP4
CHRM3
ALDOC
APOM
CD59
RNASET2
KIAA1267
ZNF84
SRCAP
OPTN
LBH
NCRNA00092
RHBDF2
TMEM91
LGALS14
CSAG1
MIR155HG
AP3S1
WASH5P
UBE2D2
HNRNPM
RARA
ZNF205
FAM117A
TNFRSF25
ADHFE1
PNOC
AXL
NRCAM
COQ10A
ILDR1
HLA-DOB
LRFN4
PLXDC2
FAM134B
AKAP7
RGL1
EPAS1
RBMS2
EGR1
AMH
C1QTNF9B
FAM159A
ATP7B
FAM176B
LY96
ZNF688
STAG3L4
LOC100190938
CRB3
PLEKHA2
ST8SIA4
LOC100128505
CPOX
NDUFC1
PAM
ZNF23
GYS1
FHOD3
AKR7A2
LASS6
MLL5
HIST1H3G
CALHM2
UFM1
ZNF821
PHLDA1
COL4A2
KIAA0415
REM2
P4HA2
PRUNE
DDR1
CHDH
PGRMC2
HMSD
LOC493754
ACSL5
AGPAT2
PJA1
SGSH
VDR
LOC400027
PCMTD1
HMGB3
HIBADH
REXO2
ZBTB4
MOBKL2A
GIMAP4
RGS14
GPNMB
CLIP3
CNFN
CD163L1
IVNS1ABP
ACAD10
RELA
POLD4
MIER2
PPP1R12C
IDH2
LTB4R
MAPKBP1
PDCD6IP
CRADD
ADCK4
TUBG2
TRIM55
LOC100128292
FLJ35390
DYRK1B
PARP16
LONP1
SERTAD2
HIST1H2AG
ATP6V0A1
GPR132
MYL6B
MMAA
GCET2
RGS7
UAP1L1
MOSPD3
ELMO1
ACADM
USP21
FGFRL1
BCDIN3D
CHST3
EIF4EBP1
RPL21
SELM
LOC25845
ANGEL2
CCL3L1
BIN1
LYRM1
LXN
LOC100128288
INTS3
MKL1
ASPRV1
ACAD11
CASK
NFE2L1
NAB2
LOC100129034
DCUN1D3
GGPS1
CTTN
CARHSP1
PNCK
TMEM63A
IMMP2L
SLC6A16
GBE1
TSTD1
CSAG2
SMC1A
PBXIP1
OCIAD2
CLECL1
NDUFB2
H6PD
NEK6
STAT5B
PGM1
C4BPB
FOXO3
MFSD10
IL17RA
SSBP4
EDN1
ITM2B
NCF1C
PPP1CB
ABTB1
ANO6
MYL5
HOXB5
ITPKB
PELI2
FADS2
AMFR
SEC23A
EDEM1
PFKP
PAQR6
HIPK2
SEC61G
ANKRD37
DUSP5
KDM5B
NT5C2
RPAP1
SSU72
ARPC1A
MNT
ZNF224
ZBTB47
NCRNA00158
DNAJB2
MEF2C
GPT2
ZMIZ2
PPM1H
PFKL
PRR7
CANX
HOXC8
CELSR3
EPN1
KLRAQ1
TMEM143
MEIS2
LOC202781
DCBLD2
MAP2K5
PGK1
PIN4
GTF2IRD1
DNASE1
HEXA
GHRL
LOC283314
VPS37B
PMM1
CD200
RNF5
MDGA1
KRBA1
PIK3C2B
MC1R
FAIM3
ITFG3
CHSY1
KCNJ2
POFUT2
ARMCX3
TMEM219
GPR146
PAQR7
SLC30A9
CDK5R1
KIAA1147
MGAT4B
RDM1
SNX1
BLOC1S1
CCDC106
PARVB
BBS9
MAP3K12
LOC100134868
RBM17
APOL1
SERPINH1
CCNG2
LOC550643
PLXNB2
LGALS3BP
GSTK1
LOC642361
DDIT3
COG4
FAM57A
UNC13D
ST6GALNAC2
RAB34
ZHX2
FOXO1
ZNF513
MGC72080
STX6
CBLB
ARAP1
ACAP1
CNTROB
PRDX2
LILRB1
BTG1
AHRR
TCL1A
MAP6D1
GNG7
DNAJC25
MGMT
SGPP2
KLRG1
CRYBB2
SHC1
SLC9A9
SLC41A1
CREB3L2
AKAP13
SNHG6
DMTF1
SLC7A6
SLC25A26
MAN2A2
NCF1B
SLC2A1
SMYD2
AP2B1
MSC
PRDX5
FMO1
AGRP
HSD17B11
TMEM60
MT1A
PDLIM3
NR3C1
CRIPAK
PCCA
OAT
BCL2L2
ENG
`)
    }
</script>
{% endblock %}