{% extends "public.html" %}
{% block content %}
<section class="section team-2">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center mb-5">
                <h3 class="display-3">TRs browse<b id="title"></b></h3>
                <h4 class="lead">We provide quality control information for each TR.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto text-center mb-5">
                <table>

                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}