{% extends "public.html" %}
{% block content %}
<div class="container shape-container d-flex align-items-center py-lg">
  <div class="col px-0">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 text-center">
        <h3 class="display-3 text-black">TCAPT</h3>
        <p class="lead mt-0 text-black">Combining graph convolution and knowledge distillation to predict
          transcriptional cofactor and chromatin regulator activity.
        </p>
        <br>
        <div class="buttons"><a class="btn btn-success" href="/TCAPT/analysis">Analysis <i class="fa fa-arrow-right"></i></a>
          <p class="lead mt-5 text-black">Jump to analysis results.
          </p>
          <br>
          <input class="form-control" name="uuid" id="uuid" placeholder="Please enter your UUID."></input>
          <br>
          <div class="buttons"><a class="btn btn-success" href='#' onclick='resultTRAPT()'>Result <i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function resultTRAPT() {
      var uuid = $('#uuid').val()
      window.location = '/TCAPT/analysis_trs_activity?uuid=' + uuid
    }
  </script>
  {% endblock %}
